.profile {
  display: flex;

  flex-direction: column;
}

.profile header {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.profile header .img {
  padding: 0 10rem;
}
.profile header .img img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}
.profile .info {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}

.profile .bio {
  max-width: 30rem;
  overflow: hidden;
}
.profile .bio .name {
  margin-bottom: 1rem;
}

@media (max-width: 951px) {
  .profile header {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .profile header .img {
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .profile .bio {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 2rem;
    flex-direction: column;
  }

  .profile-posts {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}

.profile-posts {
  display: flex;
  margin: 0 4rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.post-img {
  position: relative;
}
.post-img div {
  display: none;
}

.post-img:hover div {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.283);
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.post-img img {
  height: 18rem;
  width: 18rem;
}

.post-img:hover .icons {
  display: flex;
  gap: 1rem;
}

.post-img:hover .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}
.post-img:hover .icon span {
  font-size: large;
  font: inherit;
}
